*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile-card{
    margin-top: 200px;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0 , 0 , 0 , 0.5);
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}

.profile-card  .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.text-data h2{
  font-size: 20px;
  font-weight: 600;
}

.text-data h3{
  font-size: 25px;
  font-weight: 400;
}

.profile-card .media-button{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.media-button .link{
    text-decoration: none;
    background-color: #9ab2fb;
    margin: 0 8px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
}


.buttons{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.buttons .button{
    padding: 8px;
    background-color: #4070f4;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all ease 0.3s;
}

.buttons .button:hover{
    background-color: rgb(219, 255, 127);
    color: black;
}